health-check.wpcaido.com {
    reverse_proxy health_check:80
}

enriqueteruel.com {
    reverse_proxy react:3000
}

wordpress.wpcaido.com {
    reverse_proxy wordpress:80
}

node.wpcaido.com {
    reverse_proxy node:3000
}